<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>使用angularJS开开发表单验证</title>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/fontawesome/4.4.0/css/font-awesome.min.css">
    <style>
        .form-wrap{font-family: "幼圆","Microsoft YaHei"}
        .form-wrap .title{margin: 150px 0 30px;text-align: center;}
        .form-group{position: relative;}
        .form-group .success{position: absolute;top: 9px;right: 25px;color: #3c763d;}
        .form-group .error{color: #a10;}
    </style>
</head>
<body>
<div class="container" ng-app="myApp" ng-controller="signUpCtrl">
    <div class="form-wrap">
        <form class="form-horizontal" name="signUpForm" ng-submit="submitForm();">
            <h2 class="title">注册</h2>
            <div class="form-group" ng-class="{'has-success' : signUpForm.username.$valid}">
                <label class="control-label col-sm-3">用户名:</label>
                <div class="col-sm-6">
                    <input  class="form-control" name="username" ng-model="userdata.username" ng-minlength="2" ng-maxlength="30" required type="text">
                    <p class="fa fa-check success" ng-if="signUpForm.username.$valid"></p>
                    <p class="error" ng-if="signUpForm.username.$error.required && signUpForm.username.$touched">用户名不能为空！</p>
                    <p class="error" ng-if="(signUpForm.username.$error.minlength || signUpForm.username.$error.maxlength) && signUpForm.username.$touched">用户名长度应为2-30个字</p>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-success': signUpForm.password.$valid}">
                <label class="control-label col-sm-3">密码：</label>
                <div class="col-sm-6">
                    <input  class="form-control" name="password" ng-model="userdata.password" ng-minlength="6" ng-maxlength="30" required type="password">
                    <p class="fa fa-check success" ng-if="signUpForm.password.$valid"></p>
                    <p class="error" ng-if="signUpForm.password.$error.required && signUpForm.password.$touched">密码不能为空！</p>
                    <p class="error" ng-if="(signUpForm.password.$error.minlength || signUpForm.password.$error.maxlength) && signUpForm.password.$touched">密码长度应为6-30个字</p>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-success':signUpForm.rePassword.$valid}">
                <label class="control-label col-sm-3">确认密码：</label>
                <div class="col-sm-6">
                    <input  class="form-control" name="rePassword" ng-model="userdata.rePassword" compare="userdata.password" required type="password">
                    <p class="error" ng-if="signUpForm.rePassword.$error.compare && signUpForm.rePassword.$touched">两次密码不一致！</p>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary col-sm-offset-3">提交</button>
            </div>
        </form>

        <!--信息提示-->
        <div class="alert alert-success" role="alert" hidden>
            <a href="javascript:void(0);" class="alert-link">注册成功！</a>
        </div>
        <div class="alert alert-danger" role="alert" hidden>
            <a href="javascript:void(0);" class="alert-link">信息有误，请检查！</a>
        </div>
    </div>
</div>
<script src="https://code.angularjs.org/1.3.16/angular.min.js"></script>
<script src="./js/main.js"></script>
</body>
</html>